:root {
  --primary-color: #E6E6E6;
  --overlay-color: #5444F2;
  --menu-speed: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins Black', sans-serif;
  line-height: 1.4;
  background-color: #1B1B1C;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 3rem;
  position: absolute;
}

.showcase { 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 95vh;
  width: 100%;
  
  
  
}


h2{
  font-size: 47px;
  
  color: white;
}

.mail{
font-family: "Poppins Extralight";
color: white;
text-decoration: underline;
font-size: 25px;


}




     

     ul{
       padding: 20vh;
       color: #1B1B1C;
       
     }

     li {
       margin: 40px
     }


     .linkedin{
       padding-right: 30px;
     }

     .behance{
       padding-left: 30px;
     }

     .links{
      max-width: 100%;
      z-index: 1;
      align-items: center;
      
      position: absolute;
    }
    
        .work{
          font-family: "Raleway light";
          color: #E6E6E6;
          text-decoration: none;
          font-size: 30px;
          margin-left: 75vh;
          
          
        
        }
        
        .connect{
          font-family: "Raleway light";
          color: #E6E6E6;
          text-decoration: none;
          font-size: 30px;
          margin-right: 75vh;
          
           }
    
           /* .firstline {
             position: fixed;
             margin-left: 95%;
           }
    
           .secondline{
             position: fixed;
             margin-right: 95%;
           } */




 